extends layout

block content
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/socketScript.js")
  script.
    window.webHpCode = #{code};
  h1.start-game Full Room! Start Playing!
  h1= title
  p Welcome to #{title}
  p Your game number is: #{code} on #{ip}

  input(type="hidden" value="#{ip}" id="ip")
  input(type="hidden" value="#{code}" id="code")

  a(href="#" id="start-game") Start Game!
